body{
    background-color: #9ca5d9;
}
.logo{
    display: flex;
    color:whitesmoke;
    align-items: center;
}
.logotitle{
    margin: 0%;
}

ul{
    display:flex ;
    justify-content: center;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;   
}

.navbar{
    display:flex ;
    justify-content: center;
    gap: 35px;
    margin-right: 20px;
    align-items: center ;
}

.navbar li:hover{
    color: #f1f3fa;
    background-color: #432b72;
    padding: 2px;
    border-radius: 25px;
}

.logo:hover{
    color: #432b72;
    background-color: whitesmoke;
    padding: 2px;
    border-radius: 25px;
    
}


.headform{
    font-size: 35px;
    display: flex;
    justify-content: center;
}

#tent{
    height: 45px;
    width: 50px;

}

.email_container{
    margin: 10px;
    width: 46%;
}

.headform{
margin: 10px;
}


.first{
    display: flex;
    justify-content: center;
    gap: 2%;    
}

.second{
    width: 100%;
    display: flex;
    justify-content: center;

}

.third{
    margin-top: 10px;
display: flex;
justify-content: center;
    
}

form{
    width: 50%;
    border: solid 2px #f1f3fa;
    border-radius: 25px;
}

.formbody{
    display: flex;
    justify-content: center;
}

.navbar_icon{
    display: none;
}

@media screen and (max-width: 792px) {
.navbar{
    display: none;
}

.navbar_icon{
    display: block;
}

.logotitle{
    display: none;
}

#tent{
    height: 60px;
    width: 60px;
}

.first{
    display: block;
    gap: 15px; 
}

.second{
    display: block;
    
}

.email_container{
    width: 80%;
}


}

