body{
    /*width: 1440px;
    height: 1024px;*/
    font-size: 20px;
    font-family: 'Poppins';
    background-color: #F5F5F5;
}


.headpage{
    
    height: 91px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    background-color:	#85CEED2B;
    font-family: 'Poppins';


    
}

line    {
    width: 64px;
}
.allpage{
    display: flex;
    /*height: 850px;
    width: 1440;*/

}
.leftside{
    width: 50%;
    margin-top: 68px;
    margin-left: 100px;
    font-family: 'Poppins';
    
}

.mainhdesc{
    width: 75%;
}

.deschead{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    color: darkgray;
}

h2{
    margin: 0px;
}
h1{
    margin: 0px;
}

.description{
    margin-top: 10px;
}

.leftimg{
    margin-top: 148px;
}

.rightside{
    width: 50%;
    margin-left: 61px;
    margin-top: 110px;
    margin-right: 100px;
}

.rightimg{
    margin-top: 30px;
    margin-bottom: 91px;
}

footer{
    background-color: #00598B;
    color: white;
    /*width: 1440px;*/
    height: 96px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footerr{

    display: flex;
    justify-content: center;
    
}


.mobile{
    display: block;
    justify-content: center;
    align-items: center;
    display: none;
}

.navbar_icon{
    display: none;
}



@media screen and (max-width: 792px){
.sassk{
    display: none;
}

.blog{
    display: none;
}

.navbar_icon{
    display: block;
}

.allpage{
    display: none;
}

.mobile{
    display: block;
    justify-content: center;
    align-items: center;
}

.imgmobile{
    height: 291px;
    width: 291px;
}
.cimg{
    display: flex;
    justify-content: center;
    margin-bottom: 20px; ;
}
.titreleft{
    display: flex;
    justify-content: center;
}

.deschead{
    display: flex;
    justify-content: center;
    gap: 130px;
    color: darkgray;
}

.titremobile{
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

}